@media screen and (max-width: 62.5rem) {
    .save{
        display: none;
    }
    .upgrades{
        display: none;
    }
    .header{
        display: flex;
        justify-content: flex-end;
    }

    .main{
        flex-direction: column-reverse;
        gap: 0;
    }
    .cookie{
        width: 25rem;

    &__spots{
        width: 4rem;
     }
     &:active{
        transform: scale(1);
     }

     .score{
        font-size: 200%;
        width: 100%;
     }

     .upgradesMobile{
       display: flex;
        
     }
   }
}
